.problem {
    display: flex;
    flex-direction: row;
}
.possibility {
    border: 1px solid #ccd;
    width: 300px;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    margin: 10px;
}

.possibility.selected {
    background-color: red;
    color: #282c34;
}

.possibility.correct {
    background-color: green;
    color: #282c34;
}

.symbol {
    padding-left: 10px;
    padding-right: 10px;
}

.equals {
    padding-left: 10px;
    padding-right: 10px;
}